<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title center>User Directory</title>
</head>


<body>
<div class="container">
    <h3>WELCOME TO MY DEMO APPLICATION</h3>


    <a th:href="@{/orders/list}"
       class="btn btn-primary btn-sm mb-3">
        See Orders</a>


    <a th:href="@{/orders/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Order </a>

    <a th:href="@{/users/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add User </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
<!--            <th>Action</th>-->
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUser : ${users}">
            <td th:text="${tempUser.firstName}"/>
            <td th:text="${tempUser.lastName}"/>
            <td th:text="${tempUser.email}"/>


        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



