<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">

    <title>
        Save User
    </title>
</head>

<body>
<div class="container">

    <h3>User Directory</h3>
    <hr>
    <p class="h4 mb-4">Save User</p>
    <form th:action="@{/users/save}" th:object="${user}" method="POST">


        <input type="text" th:field="*{firstName}"
               class="form-control mb=4 col-4" placeholder="First name">
        <input type="text" th:field="*{lastName}"
               class="form-control mb=4 col-4" placeholder="Last name">
        <input type="text" th:field="*{email}"
               class="form-control mb=4 col-4" placeholder="Email">
        <button type="submit" class="btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href="@{/users/list}">Back to List</a>

</div>

</body>

</html>
